/* FileUpload.css */
.file-upload-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 40px;
}

.file-upload-container h2 {
  font-size: 30px;
  color: #595959;
  font-weight: 600;
  margin-bottom: 20px;
}
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  background-color: #f9f9f9;
  margin: 20px 0;
}

.upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.download-container {
  margin-top: 20px;
}

.download-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #218838;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.loading-spinner {
  margin-top: 12px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #007bff;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red; /* Set text color to red */
  margin-top: 10px;
}
