.sign-in {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  /* background-color: #fff; */
}

.signin-container {
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  /* border: 2px solid #1976d2; */
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.signin-image {
  align-self: center;
}

.form-title {
  box-sizing: border-box;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #595959;
  /* color: #333; */
  align-self: center;
}

.signin-form {
  max-width: 400px;
  padding: 20px;
}

.signin-form label {
  font-size: 16px;
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #007bff; */
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

.signin-form button:hover {
  /* background-color: #0056b3; */
  background-color: #115293;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}

.success-message {
  color: #008000;
  margin-bottom: 10px;
  text-align: center;
}
